* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.homebody {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: linear-gradient(90deg, #c0e6ffb6 50%, #ffff 50%);
}
